<h1> Portfolio items </h1>

<% @portfolio_items.each  do |portf_item| %>
	<p><%= portf_item.title %>	</p>
	<p><%= portf_item.subtitle %>	</p>
	<p><%= portf_item.body %>	</p>
	<%= image_tag portf_item.thumb_image %>



<% end %>